.box
  %h3= question.question
  .alternatives{:style => 'margin-top:20px'}
    - altenatives = question.alternatives.shuffle
    - altenatives.each do |alt|
      %p
        - unless alt.alternative.empty?        
          =link_to(                                   |
          alt.alternative,                           |
          answer_questionnaire_games_path(alternative:alt.id, format: :js),                                       |
          :style => 'margin-left:10px',               |
          :remote => true)

            
              
