.box{:style => 'text-align:center; background-color:#4C7A7E; margin:0px;'}
  %h1 ¿Cuanto sabes de HTML?

.row
  .col-md-2
    .fixbox{:style => 'padding-left:5px; text-align:center; margin-top:30px'}
      %h4
        Tiempo:
        #clock
          180
    .fixbox{:style => 'padding-left:5px; text-align:center; margin-top:30px'}
      %h4
        Puntaje: 
        #score
          0

  .col-md-10
    - @questions.each do |question|
      .row
        .col-md-12
          .question{:id => "question#{question.id}"}
            = render question

  / = link_to("guardar puntaje", games_path, :method => :post)
  
/ - if @alternative 
/   -if @alternative.correct == true
/     %h2{:style => 'text-align:center'}
/       .label.label-success
/         Correcto 
/     %h3 
/       =link_to('Siguiente', games_play2_path)
    
/   -else
/     %h2{:style => 'text-align:center'}
/       .label.label-danger
/         Incorrecto 
/     %h3
/       %ul 
/         %li=link_to('Empezar de nuevo', games_new_path)
/         -unless user_signed_in?
/           %li= link_to("Guardar puntaje y respuestas", new_user_session_path)

/ .container
/   .progress
/     .progress-bar.progress-bar-success.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "completed", :role => "progressbar", :style => "width: #{@completed}%"}
/       %span.sr-only 45% Complete

