.container
	%h2="Tu puntaje #{@game.score}"
	.well
		%h1= @question.question

		- @question.alternatives.each do |alt|
			%p
				= alt.alternative
				- unless alt.alternative.empty?
					- unless @alternative # 
						%a{:href=> games_play_path(:q => @question.id, :alt => alt.id), :class => 'btn btn-small btn-primary'}
							%i.glyphicon.glyphicon-check

	- if @alternative 
		-if @alternative.correct == true
			%h2{:style => 'text-align:center'}
				.label.label-success
					Correcto 
			%h3 
				=link_to('Siguiente', games_play_path)
			
		-else
			%h2{:style => 'text-align:center'}
				.label.label-danger
					Incorrecto 
			%h3 
				=link_to('Empezar de nuevo', games_new_path)
