.box{:style => 'text-align:center'}
  .container
    %h1 Los mejores puntajes de hoy


.container
  .row{:style => 'margin-top:30px'}
    .col-md-8.col-md-offset-4
      %table.table.table-striped.table-responsive
        - @games.each do |g| 
          .row
            %h5
              = g.user.name + " | "
              = pluralize(g.score, "punto") + " | "
              = time_ago_in_words(g.created_at)


      .div{:'data-no-turbolink' => ''}
        = link_to "Vamos por la revancha", new_game_path, :class => 'btn btn-large btn-warning col-md-4', :style => 'border-radius:0px; color:white'
