.box{:style => 'text-align:center'}
	.container
		%h1 ¿Cuánto sabes de?


.container.div{:'data-no-turbolink' => '', :style => 'padding-top:100px'}
	- @questionnaires.sort.each do |q|
		.col-md-4
			.box
				%h3= link_to q.name, new_questionnaire_game_path(q), :style => 'color:white'